* {
    font-family: 'poppins';
    margin: 0px;
    padding: 0px;
    
}


.resume {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 100px;
    margin-top: 20px;
    margin-left: 200px;
    margin-right: 200px;
}

.container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 20px;
    
}

.head {
    padding-top: 20px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 20px;
    display: flex;
    flex-direction: row;
    justify-content:space-around;
    gap: 20px;
    background-color: #221F31;
    color: whitesmoke;
}



.image {
    display: flex;
    justify-content: center;
    background-color: #221F31;
}
img {
    width: 100%;
}

.info {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.info--name {
    font-size: 30px;
    font-weight: 400;
    margin-bottom: 0px;
}

.info--role {
    font-size: 16px;
    padding-top: 0px;
    margin: 0px;
    font-weight: 350;
}

.info--desc {
    font-size: 16px;
    font-weight: 200;
}

.section {
    display: flex;
   flex-direction:  row;
   justify-content:center;
   padding-top: 10px;
   background-color: rgb(224, 219, 219);
   padding-bottom: 30px;
   padding-left: 40px;
   padding-right: 20px;
}


.section-1 {
    padding-right: 10px;
    gap: 30px;
}
.socials {
    display: flex;
    gap: 10px;
    flex-direction: column;
    margin-bottom: 10px;
}

.section-2 {
    border-left: 0.8px solid grey;
    padding-left: 10px;
    margin-bottom: 10px;
}
.projects {
   margin-bottom: 15px;
}

.project {
    margin-top: 10px;
}

.section-head {
    padding-bottom: 10px;
}

.social {
    color: rgb(85, 82, 82);
    text-decoration: none;
}

.social:hover {
    color: rgb(0, 0, 0);
    animation: 0.3s;
    font-weight: 600;
}



.skills {
    margin-bottom: 20px;
}

 button {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 13px;
    border-color: white;
    background-color: #2c2b33;
    color: aliceblue;
 }

 button:hover {
    background-color: #000000;
    color: aliceblue;
 }

 .contact-info {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 20px;
    
 }

 .footer {
    padding: 10px;
    background-color: #221F31;
    color: whitesmoke;
    text-align: center;
    display: flex;
    justify-content: space-around;
 }
 